<header class="header-principal">
        <!--logo-->
        <div class="logo-container">
            <img src="/assets/EcoWatt.jpeg" alt="logocon nombre" class="logo">
        </div>
        <!--menu-->
        <nav class="menu">
            <ul>
                <li><a href="#Inicio">Inicio</a></li>
                <li><a href="#calculadora">Calculadora</a></li>
                <li class="tooltip">
                    <a href="#E-Renovable">E.Renovable</a>
                     <span class="tooltiptext">Energia Renovable</span>
                </li>
                <li><a href="#Sugerencias">Sugerencias</a></li>
            </ul>
            <!--foro-->
            <div class="enter-container">
                <i class="ingresofa-solid fa-solid fa-circle-user"></i> 
                <a routerLink="/forum"><strong>Foro</strong></a>
            </div>
        </nav>
    </header>
