<section class="E-Renovable" id="E-Renovable">
            <article class="E-Renovable-contenido">
                <div class="texto">
                    <header class="titulo">
                        <h2 class="titulo">Energia renovable</h2>
                    </header>
                    <p>
                        Se dice que una energia es renovable cuando su fuente de energia se basa
                         en la utilización de recursos naturales inagotables, como el sol, 
                         el viento, el agua o la biomasa.
                    </p>
                    <div class="imagen">
                        <img src="/assets/ecowatt2.png" alt="energiarenovable">
                    </div>
                    <p>
                        Las energias renovables se caracterizan por no utilizar combustibles 
                        fosiles, sino recursos naturales capaces de renovarse ilimitadamente.
                    </p><br>
                    <p>
                        En la actualidad, el medio ambiente se encuentra en un estado de daño 
                        irreversible; el cambio climatico generado por la deforestación y demas 
                        actividades contaminantes han consumido los recursos naturales a un nivel 
                        preoucpante, dejando en jaque el futuro del planeta tierra, y, por tanto,
                         de la humanidad.
                    </p>
                </div>
                <div class="bloque-secudario">
                    <div class="recuerda">
                        <header class="titulo">
                            <h2>Recuerda</h2>
                        </header>
                        <p>
                         El petróleo, el gas natural, y el carbón no son energías 
                         renovables. Estas fuentes se agotan con el tiempo y generan un alto impacto 
                         ambiental. Opta por energías limpias como la solar, eólica o hidráulica para 
                         cuidar el planeta.
                        </p>
                    </div>
                    <div class="imagen">
                        <img src="/assets/petroleo.jpeg" alt="petroleo">
                    </div>
                </div>
            </article>
</section>