.hero{
    position: relative;
    min-height: 550px;
    background-image: linear-gradient(
    #000000b0,
    #00000057
    ), url('/assets/banner.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    text-align: left;
    padding: 180px 50px 100px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.hero::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background: #ffffff;
    z-index: 2;
}

.hero::before{
    content: none;
    display: none;
}

.hero h1 {
    font-size: 56px;
    font-weight: 700;
    padding-bottom: 20px;
    max-width: 800px;
}

.hero p {
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 600;
    color: #3bc156;
    max-width: 600px
}

.hero-buttons {
    display: flex;
    gap: 15px;
}

.hero-buttons a {
    background-color: #ffffff;
    text-decoration: none;
    color: #2bb5f4;
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid #2bb5f4;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.hero-buttons a:hover {
    background-color: #2bb5f4;
    color: #ffffff;
}