<section class="Sugerencias" id="Sugerencias">
            <article class="Sugerencias-contenido">
               <div class="texto">
                <header class="titulo">
                    <h2 class="titulo">Sugerencias energeticas</h2>
                </header>
               </div>
              <!--tarjetas-->
               <div class="contenedor-tarjetas">
                <!--tarjeta cocina-->
                <article>
                    <figure>
                        <img src="./assets/cocina.jpeg" alt="cocina">
                        <figcaption>Cocina</figcaption>
                    </figure>
                    <p>Sugerencias de ahorro para la cocina</p>
                    <a href="#cocina">Ver más</a>
                </article>
                <!--tarjeta habitacion-->
                <article>
                    <figure>
                        <img src="/assets/cuarto.jpeg" alt="habitacion">
                        <figcaption>Habitación</figcaption>
                    </figure>
                    <p>Sugerencias de ahorro para la habitación</p>
                    <a href="#habitacion">Ver más</a>
                </article>
                <!--tarjeta baño-->
                <article>
                    <figure>
                        <img src="/assets/baño.jpeg" alt="bano">
                        <figcaption>Baño</figcaption>
                    </figure>
                    <p>Sugerencias de ahorro para el baño</p>
                    <a href="#bano">Ver más</a>
                </article>
                <!--segundo contenido detallado-->
               </div>
               <div class="Sugerencias-cocina" id="cocina">
                <div class="texto">
                    <header class="titulo">
                        <h2>Cocina</h2>
                    </header>
                    <p>
                      Para ahorrar energía en la cocina, utiliza electrodomésticos eficientes (de preferencia 
                      con etiqueta energética A o superior) y evita abrir el horno innecesariamente mientras 
                      cocinas, ya que cada vez que lo haces se pierde calor. Cocina con tapas en las ollas para 
                      conservar el calor y aprovecha el tamaño adecuado de hornilla según el recipiente. Además, 
                      descongela los alimentos con tiempo para no usar el microondas y apaga los aparatos que 
                      no estés utilizando. Para ahorrar energía en la cocina, utiliza electrodomésticos eficientes 
                      (de preferencia con etiqueta energética A o superior) y evita abrir el horno innecesariamente 
                      mientras cocinas, ya que cada vez que lo haces se pierde calor. Cocina con tapas en las 
                      ollas para conservar el calor y aprovecha el tamaño adecuado de hornilla según el recipiente. 
                      Además, descongela los alimentos con tiempo para no usar el microondas y apaga los aparatos 
                      que no estés utilizando.
                    </p>
                </div>
                <div class="imagen">
                    <img src="/assets/consumo.png" alt="consumo">
                </div>
               </div>
               <div class="Sugerencias-habitacion" id="habitacion">
                <div class="texto">
                    <header class="titulo">
                        <h2>Habitación</h2>
                    </header>
                    <p>
                      En las habitaciones, aprovecha al máximo la luz natural durante el día y utiliza focos LED 
                      de bajo consumo. Apaga las luces y los dispositivos electrónicos cuando no estén en uso y 
                      evita dejarlos en modo “stand by”. Instala cortinas térmicas para mantener la temperatura 
                      y reducir el uso de calefacción o aire acondicionado. Un buen aislamiento en puertas y 
                      ventanas también puede ayudarte a mantener una temperatura agradable sin gastar energía extra.
                    </p>
                </div>
                <div class="imagen">
                    <img src="/assets/bombilloled.jpg" alt="bonbillo">
                </div>
               </div>
               <div class="Sugerencias-bano" id="bano">
                <div class="texto">
                    <header class="titulo">
                        <h2>Baño</h2>
                    </header>
                    <p>
                      En el baño, reduce el uso del calentador de agua bajando unos grados la temperatura y tomando 
                      duchas más cortas. Instala aireadores o reductores de flujo en las duchas y grifos para 
                      disminuir el consumo de agua caliente. Si usas un termo eléctrico, programa su uso solo en 
                      los momentos necesarios. Además, asegúrate de reparar cualquier fuga, ya que el agua caliente 
                      desperdiciada también implica un gasto energético adicional. 
                    </p>
                </div>
                <div class="imagen">
                    <img src="/assets/calentador.jpg" alt="calentador">
                </div>
               </div>
            </article>
</section>